/*
// | CugleCms 后台管理系统
// +----------------------------------------------------------------------
// | provide by ：yangyongfu.com.cn
// 
// +----------------------------------------------------------------------
// | Author: 452275147@qq.com
// +----------------------------------------------------------------------
*/
/* ====================
     公共样式
==================== */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {margin:0;padding:0;}
body, button, input, select, textarea {font:12px/1.5 tahoma, arial, Verdana, sans-serif;}
html.off,html.off body {background: #e2e9ea url(../images/left_bg.png) repeat-y -40px top;}
html.on,html.on body{background: #e2e9ea; background-image:none;}
html.addbg,html.addbg body{background:#e2e9ea}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
ol, ul, li, dl, dd, dt {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
.fl {float:left;}
.fr {float:right;}
.cb {clear:both;}
.tl {text-align:left;}
.tc {text-align:center;}
.tr {text-align:right;}
.more {
    color: #666666;
    float: right;
    font-size: 12px;
}
#myform img{
	border:none;
	cursor:pointer;
}
fieldset, img {border:0;}
input,label,img,th{vertical-align:middle;}
button, input, select, textarea {font-size:100%;}
.hidden {display:none;}
.invisible {visibility:hidden;}
.hand { cursor:pointer; }
.cu,.cu-li li,.cu-span span {cursor: hand;!important;cursor: pointer}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	clear:both;
	zoom:1;
}
.main_top{
    background: none repeat scroll 0 0 #FFFCED;
    border: 1px solid #FFBE7A;
    line-height: 20px;
    padding: 10px;
}
.hr {
    background: url("../images/hr.gif") repeat-x scroll center center transparent;
    height: 20px;
}
/*字体样式*/
.fb { font-weight:bold; }
.em{ font-style:italic;}
.u{ text-decoration:underline;}
.strike{ text-decoration:line-through;}
.f11 { font-size:11px; }
.f14 { font-size:14px; }
address,cite,dfn,em,var{font-style:normal;}
.expandable{ 
	cursor:pointer;
}
/*链接样式*/
a{text-decoration:none; color:#444;}
a:hover{text-decoration:underline;}
.white,.white a{color:#fff}.blue,.blue a{color:#004499}.gray4,a.gray4{color:#999}
.red, .red a, a.red{color:red;}
.green{color:#0E774A}
.blue{color:#00F;}
.gray { color:#666;}

.bk,.bk3,.bk6,.bk8,.bk10,.bk15,.bk20,.bk30{clear: both;font-size: 1px;height: 0;line-height: 1px}
.bk3{height: 3px;}.bk6{height: 6px}.bk8{height: 8px}.bk10{height: 10px}.bk15{height: 15px}.bk20{height: 20px}.bk30{height: 30px}

input.dialog{height:0; height:0; font-size:0; line-height:0; border:none}
.pad-6{padding:6px; overflow:hidden}.pad-10{padding:10px; overflow:hidden}.pad_10,.pad-lr-10{padding:0 10px}.pad-lr-6{padding:0 6px}
.lh20{line-height: 20px}.lh22{line-height: 22px}.lh24{line-height: 24px}.lh26{line-height: 26px}.lh28{line-height: 28px}
.line-x{border-bottom:1px solid #eee;}
.title-1{border-bottom:1px solid #eee; padding-left:5px}
.title-2{text-align:left;height:25px;*height:24px;font:14px "MicroSoft YaHei","SimHei";color:#333;*line-height:25px; margin:0; padding:4px 0 3px 0px}
.title-3{ text-align:left; font-size:12px; font-weight:normal; padding:4px 0 4px 0px}

body fieldset{border:1px solid #D8D8D8; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color: #F9F9F9;}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add; background:none; border:none}

.ib, .ib-li li, .ib-a a, .ib-span span,.common-form ul li span.text,.fixed-bottom .fixed-but .button,.arrowhead,.arrowhead-b,#Skin li,.shortcut a,.shortcut a span,.picBut a,.tab-use{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.cut_line span{ color:#4d82bc; padding:0 4px}

.table-other{border:1px solid #d5dfe8;}
.table-other td,.table-other th{ padding:0 10px;border:1px solid #d5dfe8;padding:5px 10px;}

.table-list{border:1px solid #d5dfe8;}
.table-list td,.table-list th{ padding:0 10px;}
.table-list thead th{ height:30px; background:#eaf0f7; font-weight:normal;font-weight:700;}
.table-list tbody td,.table-list .btn{border-top:1px solid #d5dfe8; padding-top:5px; padding-bottom:5px}
div.btn{background:#f6f6f6; padding:6px 12px 0 12px; height:30px;line-height:30px}
.table-list tr:hover,.table-list table tbody tr:hover{ background:#ffffe1}
.nHover tr:hover,.nHover tr:hover td{ background:none}
.table-list .input-text-c{ padding:0; height:18px}
.input-text-c{border:1px solid #A7A6AA;height:18px;padding:2px 0 0; text-align:center}
.td-line{border:1px solid #eee}
.td-line td,.td-line th{border:1px solid #eee}
.button{background:#ddd;height:24px; border-top:0;border-left:0; border-bottom:1px solid #666; border-right:1px solid #666; padding:3px 6px; margin-right:5px;cursor:pointer;}
.table-list tr.on,.table-list tr.on td,.table-list tr.on th,.table-list td.on,.table-list th.on{background:#fdf9e5;}
a.close-own{background: url(../images/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:7px; top:8px; text-indent:200px; overflow: hidden}
a.close-own:hover{background-position: left -46px}

/*字段排序*/
.order_sort_0{background:url(../images/desc.gif) no-repeat right; padding-right:12px;}
.order_sort_1{background:url(../images/asc.gif) no-repeat right; padding-right:12px;}

/*通用表单*/
.common-form{ margin:0 10px;}
.common-form div.contentWrap{padding-right:20px}
.common-form ul li{clear:both; vertical-align:middle}
.common-form ul li span.text{width:60px}
.common-form .set{border:1px dashed #e0e7ed;zoom:1; background:#f2f7fb; padding:10px; font-size:12px; margin-bottom:10px}
.common-form .set table td,.common-form .set table th{padding-left:12px}
.common-form .set table th{font-weight:normal; text-align:left;padding:0 8px}
.common-form .set table td{ padding:3px 0 3px 5px}
.common-form .set table td.y-bg{background: url(../images/set_y_line.png) repeat-y right top}
.common-form .set table td input{ background-image:none; height:18px; font-size:12px}
.input-text,.measure-input,textarea,input.date,input.endDate,.input-focus{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;background: #FFF url(../images/input.png) repeat-x; font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}
.input-focus{background: #FFF url(../images/input_focus.png) repeat-x; border-color:#afcee6;font-size:12px;}
input.date,input.endDate{background: #fff url(../images/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}
textarea,textarea.input-text,textarea.input-focus{font-size:12px;height:auto; padding:5px; margin:0;}
select{ vertical-align:middle;background:none repeat scroll 0 0 #F9F9F9;border-color:#666666 #CCCCCC #CCCCCC #666666;border-style:solid;border-width:1px;color:#333;padding:2px;}

.search-form{ margin-bottom:10px}
.explain-col{ border:1px solid #EAF0F7;zoom:1; background: #EAF0F7; padding:8px 10px; line-height:20px; margin-top:5px;}

.table_block{border:1px solid #ccc;zoom:1; float:left; margin:0 5px 10px;}
.table_block th{font-weight:normal; text-align:right;padding:4px 8px; color:#777}
.table_block td,.table_block th{border-bottom:1px solid #eee;}

/*ajax加载*/
#ajax_loading{ border:1px #CCC solid; color:#03F; padding:2px 5px 2px 25px; background:url(../images/ajax_loading.gif) #9CF no-repeat 3px 2px; position:absolute; right:0; top:0; display:none;}

/*登陆页面*/
.login_body{background:#3a6ea5;}
.login_table{width:450px;height:140px;margin:150px auto 0;}
.login_table td.logo{width:210px;background:url(../images/login_bg.gif) no-repeat right;}
.login_table td.logo h1{width:200px;height:54px;overflow:hidden;background:url(../images/logo.gif) no-repeat; text-indent:-9999px;}
.login_table td.logo p{color:#e0e0e0;line-height:25px;}
.login_table td.loginform{padding:28px 0 0 25px;vertical-align:top;}
.login_table td.loginform table th{color:#FFF;font-weight:normal; height:38px; padding-right:5px;}
.login_table td.loginform table input.text{width:125px;height:22px; line-height:22px; border:1px #e3f0fc solid; border-top:1px #8cb7e1 solid; border-left:1px #8cb7e1 solid;}
.login_table td.loginform table input.user{ background:url(../images/login_user_bg.gif) #FFF no-repeat 5px 4px;; padding-left:22px;}
.login_table td.loginform table input.pass{ background:url(../images/login_pass_bg.gif) #FFF no-repeat 5px 4px;; padding-left:22px;}
.login_table td.loginform table input.login_btn{width:71px;height:24px; background:url(../images/login_btn.gif) no-repeat; border:none; cursor:pointer;}

/*控制面板*/
.table_panel{text-align:left;line-height:30px;}
.table_panel th{vertical-align:middle;padding:0 10px;color:#333;width:120px; text-align:right;}
.table_panel td{ width:250px;}

/*后台地图*/
.table_map{text-align:left; line-height:30px; width:100%;border:1px solid #eee; border-bottom:none;}
.table_map tr{border-bottom:1px solid #eee;}
.table_map tr:hover{ background:#fbffe4}
.table_map th{vertical-align:middle;background:#eef3f7;background:#fbffe4; padding:0 10px; color:#666;width:70px;}

.table_map_sub tr{border:none;}
.table_map_sub th{ background:none; font-weight:normal; width:70px;}
.table_map_sub td a{float:left;color:#0364ae; margin-right:20px;}
.table_map_sub td label{float:left;color:#0364ae; width:120px;}
.table_map_sub td label input{ float:left; margin:8px 5px 0 0;}

/*表格表单*/
.table_form{}
.table_form input{}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td,.table_form th{padding:8px 0 8px 8px}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee; }
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}

/*表格*/
.border_table{}
.border_table th,.border_table td{border:1px solid #E3E3E3; background:#F4FAFF;}


/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

/*列表状态列*/
.enabled{display:inline-block;cursor:pointer;width:17px;height:17px;background:url(../images/msg_bg.png) no-repeat 0 -250px;}
.disabled{display:inline-block;cursor:pointer;width:17px;height:17px;background:url(../images/msg_bg.png) no-repeat;}

/*头部*/
#header {background:#3a6ea5 url(../images/h_bg.gif) repeat-x left bottom; height:80px}
#header .logo{
	float:left;
	width:180px;
	height:80px;
	margin-right:10px;
	_margin-right:7px;
	background: url(../images/logo.png) no-repeat 0px 14px;
}
#header .logo a{display:block;height:70px;text-decoration: none;}
#header .log{padding:14px 0 0 6px; height:16px;position:relative;}
#header .log_right{ 
	position:absolute;
	top:10px;
	right:20px;
}
#header .fr{width:290px;}
#header .tab_style{padding:16px 14px 0 0}

#header .nav{ display:block; height:34px; position:relative; bottom:-16px}
#header .col-auto{ overflow:visible}
#header .nav li,
	#header .nav li a{background: url(../images/nav_bg.png) no-repeat;display:block;_float:left;height:34px; line-height:38px; font-size:14px; font-weight:700}
	#header .nav li{float:left;padding:0 0 0 8px}
	#header .nav li a{background-position: right top; padding:0 15px 0 7px}
	#header .nav li.on{background-position: left -43px;}
	#header .nav li.on a{background-position: right -43px; color:#367abb;}

.left_menu{margin-right:12px;_margin-right:10px;padding:12px;_padding:12px 0 12px 12px;width:110px; position:relative; display:block;}
.left_menu_on{ width:0; padding:0;}
.left_menu_on div{ visibility:hidden;_display:none}
.left_menu h3{
	font-weight: 700;
	color: #275d96;
	border-bottom:1px solid #d9e4ea; 
	line-height:26px; 
	height:26px; 
	margin-bottom:6px;
	margin-top:2px;
	_width:112px;
	_margin-right:12px
}
.left_menu ul li a{
	height:28px;
	line-height:28px;
	padding-left:18px;
	display:block;
	text-decoration: none;
	background:url("../images/main-left-a.gif") no-repeat scroll 5px center transparent;
	background-color:#f7fbfc;
	_width:100px;
}
.left_menu ul li a:hover,
	.left_menu ul li.on,.left_menu h3 span{background: url(../images/left_menu.png) no-repeat;text-decoration: none}
	.left_menu ul li.on{width:104px; height:29px; padding-left:20px; margin:0}
	.left_menu ul li.on a{ height:29px; line-height:29px; background:none; padding:0; display:block}
	.left_menu ul li.on a:hover{background:none}
.left_menu ul li a:hover{background-position: left -38px}
.left_menu a.open,.left_menu a.close{background: url(../images/left_menu_openClose.png) no-repeat 3px center;width:10px; display:block; position:absolute; z-index:100; height:auto; right:-11px; top:0}
.left_menu a.open:hover,.left_menu a.close:hover{ background-color:#d6e1e4}
.left_menu a.close{background-position:right center}
.left_menu h3 span{background-position: left -78px; display:block; float:right; height:14px; width:14px; margin-top:5px}
.left_menu h3 span.on{background-position: -33px -78px;}

.right_main {margin-right:8px;overflow:hidden;_zoom:1;_float:left;}

/*当前位置*/
.crumbs{background: url(../images/icon_use.png) no-repeat;background-position:left -18px; height:22px; padding:6px 0 0 18px;*height:20px;*padding:8px 0 0 18px;}
.shortcut{ float:right; position:relative; top:-3px;*top:-4px;}
.shortcut div{ float:left; margin-top:3px;}
.shortcut a{ margin-left:6px; padding-left:6px; color:#0364ae}
.shortcut a,.shortcut a span{background: url(../images/bnt_bg.png) no-repeat 0 -83px; height:21px; line-height:21px;*line-height:24px;_line-height:20px; text-align:center;}
.shortcut a span{background-position: right -83px; padding-right:6px; padding-left:6px;}

.rmc {border:1px solid #f4f6f5;zoom:1; background:#fff;}
.rmc div.content{border:1px solid #c2d1d8;zoom:1;}

.subnav{ padding:10px;}

/*容器样式*/
.col-tab{ }
.col-tab ul.tabBut{height:27px; padding-left:14px;position:relative;bottom:-1px}
.col-tab ul.tabBut li{float:left; border:1px solid #dce3ed; height:25px; line-height:26px; margin-right:5px;}
.col-tab ul.tabBut li{ background:#eaeef4; padding:0 8px;}
.col-tab ul.tabBut li.on{position:relative; background:#fff;border-bottom:0;height:26px;_height:27px; font-weight:700;}
.col-tab ul.tabBut li.icon{background-image:url(../images/icon/exclamation_small.png);padding-left:18px;background-repeat: no-repeat;background-position: 3px center;}
.col-tab .content{border:1px solid #dce3ed;_zoom:1;}
.col-tab .content-r{border-top:1px solid #dce3ed}
.col-tab .contentList{border:1px solid #dce3ed;_zoom:1;}

.col-1{ border:1px solid #f4f6f5;zoom:1; background:#fff}
.col-1 div.content{border:1px solid #c2d1d8;zoom:1;}

.col-2{ border:1px solid #c7d8ea;zoom:1;}
.col-2 h6{border-bottom:1px solid #c7d8ea; color:#3a6ea5; background:#f8fafa; height:26px; line-height:28px; padding:0 10px}
.col-2 div.content{ padding:9px 10px}

/*内容菜单*/
.content-menu{ padding:0 0 6px}
.content-menu a:hover{text-decoration: none}
.content-menu a em{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.content-menu a.add,.content-menu a.add em,
	.content-menu a.on,.content-menu a.on em{background: url(../images/bnt_bg.png) no-repeat;height:28px; line-height:28px;*line-height:28px}
.content-menu span{color:#ddd; padding:0 8px}
.content-menu a{cursor:pointer;}
.content-menu a.add{ padding:0 0 0 5px;}
.content-menu a.add em{ padding:0 10px 0 5px;color:#fff;background-position: right top}
.content-menu a.on{background-position: left -40px;*background-position: left -41px;_background-position: left -39px; color:#fff; padding:0 0 0 5px;}
.content-menu a.on em{background-position: right -40px;*background-position: right -41px;_background-position: right -39px; padding:0 10px 0 5px}

/*分页*/
#pages {font-family:宋体; text-align:right; float:right;}
#pages a { display:inline-block; height:22px; line-height:22px; background:#4d81bb; border:1px solid #e3e3e3; text-align:center; color:#fff; margin-left:4px; padding:0 4px;}
#pages a.current { display:inline-block; width:26px; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
#pages a.page_prev,#pages a.page_first,#pages a.page_last,#pages a.page_next { background:#4d81bb  0 5px; width:50px;}
#pages a:hover { background:#F96; color:#000; text-decoration:none; }

.ke-container td,.ke-container th{padding:0;}

/*团购列表*/
.group_pic{ border:1px #CCC solid; padding:1px;}
.group_subject{ height:34px; overflow:hidden; display:block;}
.group_subject:hover{ height:inherit; text-decoration:none; color:#F30;}

.loading{
	padding:0px 0px 0px 25px; 
	background:url(../images/ajax_loading.gif) no-repeat;
	line-height:20px;
}
/*首页面板*/
#home_panel{ 
	width:1080px;
	line-height:25px;
}
#home_panel .col-2{ 
	width:535px;
	margin-bottom:10px;
}
#home_panel .col-2 h6{ 
	border-bottom: 1px solid #C7D8EA;
	color: #3A6EA5;
	background: url(../images/x_bg.png) repeat-x left -42px;
	height: 26px;
	line-height: 28px;
	padding: 0 10px;	
}
.hr {
	background: url(../images/uline.gif) repeat-x center center;
}
.hr hr{ 
	display:none;
}
.bk20 {
	height: 20px;
}
/*同步数据最上面*/
.data_top {
    height: 40px;
    padding: 10px 10px 0;
}
.data_top a {
    color: #FFFFFF;
    text-decoration: none;
}
.cat {
    background: url("../images/bnt_bg.png") no-repeat scroll right top transparent;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 5px 0 8px;
	margin-right:5px;
}
.send_mail{
	margin:10px;
}
.send_mail th{
	color: #777777;
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
}
